body {
  background-color:#89c2d9;
  text-align:center;
  color:#3c6e71;
  }

a {
  text-decoration: none;
}

.topnav  {
  overflow: hidden;
  background-color: #215f88;
}

.topnav a  {
  float: left;
  color: #99acc2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight:bold;
  font-size: 18px;
}

.topnav a:hover  {
  background-color: #99acc2;;
  color: #215f88;
}

#end a {
  font-size:15px;
  text-decoration: none;
}

.mainContainer {
  display:flex;
  width: 95%;
  margin: auto;
  justify-content: space-between;

}

.leftSidebar {
  width:20%;
}

.leftSidebar p {  
  text-align: left;
  
}

.rightSidebar {
  width: 70%;
  margin: auto;}

.rightSidebar table {
  margin: auto;

}

th {
  padding:10px 20px;
}

td {
  padding: 10px;
}