body{
    background-color:#89c2d9;
    text-align:center;
    color:#3c6e71;
    }

h1{
    color:#db222a;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-seriu
}

h2{
    color:#db222a;
    font-size:1.5em;
}

ul{
    list-style-type:none;
    font-weight:600;
    font-size:1.2em;
    font-family:monospace;
}

.links{
    text-align:left;
    color:darkred;
    font-size:1.2em;
}

.apresentacao{
    font-size:2.2em;
    font-weight:600;
    font-family:monospace;
}

/* adasds */