body {
  background-color: #3a506b;
  color: white;
}

.boardHolder {
  box-sizing: border-box;
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

.button-container {
  padding-top: 30px;
  text-align: center;
}

.button {
  font-size: 1.2em;
  height: auto;
  margin-right: 200px;
  width: auto;
}

.color-palette {
  height: auto;
  text-align: center;
}

.color {
  border: 1px solid black;
  border-radius: 30px;
  color: white;
  display: inline-block;
  font-weight: 600;
  height: 50px;
  line-height: 50px;
  text-shadow: 1px 1px black;
  width: 120px;
}

.inputHolder {
  margin: auto;
  padding-top: 50px;
  text-align: center;
}

h1 {
  text-align: center;
}

.label , .confirmButton {
  font-size: 1.2em;
  height: auto;
  width: auto;
}

.input {
  font-size: 1.2em;
  height: auto;
  text-align: center;
  width: 200px;
}

.pixel-board {
  display: inline-block;
  margin: auto;
  text-align: center;
}

.pixel {
  border: 1px solid black;
  display: inline-block;
  height: 40px;
  width: 40px;
}

.selected {
  font-size: 1.8em;
}
